

<p>Title: <%= @question.title %></p>
 
<p>Question: <%= markdown(@question.question) %></p>


<% if current_user.id == @question.user_id %>
<%= link_to "Delete", question_path(@question), method: :delete %>
<% end %>

<h3>Potential Answers!</h3>
<% @question.answers.each do |answer| %>
  <div class="border">
  <div>
  <%= markdown(answer.solution) %>
  </div>
  <div>
  <%= answer.user.username %>
  </div>
  </div>
<% end %>
<div>
<%= link_to "New Answer", new_question_answer_path(@question) %>
</div>



