<div class="col-3">
<%= form_with model: user, local: true do |form| %>
  <div class="form-group">
  <%= form.label :first_name %>
  <%= form.text_field :first_name, class:"form-control" %>
  </div>
  <div class="form-group">
  <%= form.label :last_name %>
  <%= form.text_field :last_name, class:"form-control" %>
  </div>
  <div class="form-group">
  <%= form.label :username %>
  <%= form.text_field :username, class:"form-control" %>
  </div>
  <div class="form-group">
  <%= form.label :email %>
  <%= form.text_field :email, class:"form-control" %>
  </div>
  <div class="form-group">
  <%= form.label :password %>
  <%= form.password_field :password, class:"form-control" %>
  </div>
  <%= form.label :profile_pic %>
  <%= form.file_field :profile_pic, class:"form-control-file" %><br>
  <div>
  <%= form.submit "Create", class:"btn btn-primary" %>  <%= link_to "Cancel", root_path, class:"btn btn-primary" %>
  </div>
<% end %>

</div>
