<div>
<%= link_to "New Question", new_question_path %>
<% @question.each do |question| %>
  <div class="border mb-2">
  <div class="col-6">
  <%= question.title %>
  </div>
  <div class="col-6">
  <%= markdown(question.body) %>
  </div>
  <div class="col-6">
  <%= link_to "#{question.user.username}", user_path(question.user.id) %>
  </div>
  <div class = "col-11">
  <%= link_to "Show", question_path(question) %>
  </div>
  </div>
<% end %>
<%= paginate @question %>
<%= page_entries_info @question %>
</div>