<h1>Profile Page</h1>

<% if @user.profile_pic.attached? %>
<div><%= image_tag @user.profile_pic, class:"img-thumbnail", style: "max-width: 200px" %></div>
<% end %>
  <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
 
  <p>username: <%= @user.username %></p>
  <p>email: <%= @user.email %></p>
  <h3>Quesitons</h3>
  <% @user.questions.each do |question| %>
    <p><%= question.title %> </p>
    <p><%= markdown(question.body) %> </p> 
  <% end %>
 
<%= link_to "Home", root_path %></p>